* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: hsl(217, 54%, 11%);
  --price-and-hover-color: #00fff8;
  --details: hsl(215, 51%, 70%);
  --border-color: hsl(215, 32%, 27%);
  --text-color: hsl(0, 0%, 100%);
  --card-color: hsl(216, 50%, 16%);
}

body {
  background-color: var(--bg-color);
  font-size: 18px;
  font-weight: 300;
  font-family: 'Outfit', sans-serif;
  margin-top: 20px;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 330px;
  margin-inline: auto;
}

.card {
  position: relative;
  bottom: 22px;
  background-color: var(--card-color);
  border-radius: 15px;
  width: 100%;
  padding-inline: 8%;
}

.card .card-top {
  display: flex;
  justify-content: center;
  padding-top: 22px;
}

.card .card-top img {
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.card .card-top img:hover {
  color: var(--price-and-hover-color);
}

.card .name {
  font-size: 21px;
  color: var(--text-color);
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
}

.card .creators-name h4:hover,
.card .name:hover {
  color: var(--price-and-hover-color);
  transition: 0.3s ease;
}

.card .details {
  color: var(--details);
  font-size: 16px;
  margin-block: 15px;
}

.card .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding-block: 15px;
}

.card .info .price {
  display: flex;
  align-items: center;
}

.card .info .price h2 {
  color: var(--price-and-hover-color);
  font-size: 15px;
}

.card .info .price img,
.card .info .timeLeft img {
  height: 18px;
}

.card .info .timeLeft {
  display: flex;
  align-items: center;
}

.card .info .timeLeft h3 {
  color: var(--details);
  font-size: 15px;
}

.card .creators-name {
  color: var(--details);
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-block: 30px;
}

.card .creators-name img {
  height: 30px;
  border-radius: 20px;
  border: 1.5px solid var(--text-color);
}

.card .creators-name h4 {
  color: var(--text-color);
  cursor: pointer;
}

.attribution {
  font-size: 10px;
  padding-top: 10px;
  color: var(--details);
}

.attribution a {
  color: var(--text-color);
}

.overlay {
  position: absolute;
  cursor: pointer;
  top: -2px;
  opacity: 0;
  transition: 0.3s ease;
  background-color: var(--price-and-hover-color);
  border-radius: 8px;
  height: 276px;
  width: 277px;
  margin: 25px;
}

.container:hover .overlay {
  opacity: 0.5;
}

.icon {
  position: absolute;
  font-size: 40px;
  color: var(--text-color);
  top: 39%;
  left: 44%;
}
