body {
    background-color:hsl(217, 54%, 11%);
    font-size: 18px;
    font-weight: 300;
    font-family: 'Outfit', sans-serif;

}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    margin-top: -23px;
    width: 330px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
}

.card .card-top img {
    max-width: 280px;
    margin: 25px;
    border-radius: 8px;
    cursor: pointer;
  
}

.card .card-top img:hover {
    color:#00fff8;
}

.card .name {
    font-size: 21px;
    margin-top: -12px;
    color:hsl(0, 0%, 100%);
    padding-left: 25px;
    font-weight: 600;
    cursor: pointer;
}

.card .name:hover {
    color:#00fff8;

}

.card .details {
    padding: 25px;
    margin-top: -10px;
    color: hsl(215, 51%, 70%);
    font-size: 16px;

}

.card .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-left: 25px;
    margin-right: 30px;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}

.card .info .price {
    display: flex;
    
}

.card .info .price h2 {
    color:#00fff8;
    font-size: 15px;
}
.card .info .price img {
    height: 18px;
}

.card .info .timeLeft {
    display: flex;
}

.card .info .timeLeft h3 {
    color: hsl(215, 51%, 70%);
    font-size: 15px;

}

.card .info .timeLeft img {
    height: 18px;
}

.card .creators-name {
    color: hsl(215, 51%, 70%);
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding-top: 10px;
    margin-bottom: 30px;
    font-size: 16px;

}

.card .creators-name img {
    height: 30px;
    border-radius: 20px;
    border: 1.5px solid white;
    margin-left: 25px;
}

.card .creators-name h4 {
    color:hsl(0, 0%, 100%);
    cursor: pointer;
}

.card .creators-name h4:hover {
    color:#00fff8;

}

.attribution {
    font-size: 10px;
    padding-top: 40px;
    color: hsl(215, 51%, 70%);

}

.attribution a {
    color:hsl(0, 0%, 100%);

}
